
/** GLOBAL CSS **/

@font-face {
    font-family: Fira;
    src: url(/assets/fonts/FiraMono-Regular.woff2) format('woff2');
    font-weight: 400;
    font-display: swap;
  }

:root {
    --accent-color: #ffd400;
    --base-color: #ffffff;
    --links-color: #41c7c7;
    --primary-color: #222429;
    --secondary-color: #e2127d;
  }

  body {
    background-color: var(--primary-color);
    color: var(--base-color);
    font-size: 1.125rem;
  }

h1,
h2,
h3,
h4,
h5 {
  font-family: Fira;
  color: var(--accent-color);
}

h1 {
    background-image: radial-gradient(100% 100% at 10% 100%, #fdd575 0%, #fcc06a 14.29%, #fbaa63 28.57%, #f99262 42.86%, #f77868 57.14%, #f55973 71.43%, #d22e8c 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

.article {

  & h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    margin-top: 2rem;
  }

  & ul {
    padding-left: 1rem;
  }

  & li {
    list-style: disclosure-closed;
    margin-bottom: 0.5rem;
  }

  & :not(pre) > code {
    background-color: lightcoral;
    color: black;
    padding: 4px 8px;
  }
}

.bg-primary {
  background-color: var(--primary-color);
}

p {
  margin-bottom: 1rem;
}

pre {
  margin-bottom: 1.5rem;
}

h2 {
  margin-bottom: 0.25rem;
}
