---
import PlaygroundLayout from "../../layouts/PlaygroundLayout.astro";
---

<PlaygroundLayout title="Get sRGB Luminance From Hexadecimal">
  <script slot="script" is:inline type="module">
    import { getSRGBLuminanceFromHex } from "https://unpkg.com/@sardine/colour@2.4.0/dist/index.min.js";
    function convertOnSubmit() {
      const hex = document.getElementById("input").value;
      try {
        const res = getSRGBLuminanceFromHex(hex);
        document.getElementById("result").innerHTML = res;
        document.getElementById("result").style.backgroundColor = hex;
      } catch (error) {
        document.getElementById("result").innerHTML = error;
      }
    }
    window.convertOnSubmit = convertOnSubmit;
  </script>
  <div slot="body">
    <label for="input">Type a colour in the hexadecimal format</label>
    <input type="text" id="input" class="input" placeholder="#222429" />
    <button type="button" onclick="convertOnSubmit()">Convert</button>
    <label id="result"></label>
  </div>
</PlaygroundLayout>
