---
import BaseLayout from "../layouts/BaseLayout.astro";

const title = "Colour, small javascript utilities for colour manipulation";
const description =
  "@sardine/colour is a tiny JavaScript utility library for colours.";
---

<BaseLayout title={title} description={description}>
  <article class="mx-auto">
    <h1 class="text-center text-6xl leading-tight">
      Sardines playing with colours!
    </h1>
    <h2 class="mt-6 text-xl" id="introduction">Introduction</h2>
    <p>
      <code>@sardine/colour</code> is a tiny JavaScript utility library for colours.
    </p>
    <h2 class="mt-6 text-xl" id="installation">Installation</h2>
    <p>
      You can use <code>@sardine/colour</code> with <a
        href="https://nodejs.org/en/download">Node 16</a
      >, all modern browsers and Deno!
    </p>
    <p>With Node you can install the package:</p>
    <pre><code class="language-bash">npm install --save @sardine/colour</code></pre>
    <p>With Deno you can import the package:</p>
    <pre><code class="language-typescript">import &#123; convertHextoRGB  &#125; from "https://deno.land/x/sardine_colour/index.ts";</code></pre>
    <p>
      And that's it! You're ready to start using <code>@sardine/colour</code>.
    </p>
  </article>
</BaseLayout>
